html,
body {
  padding: 0;
  margin-bottom: 0px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.logo{
  width: 100 px;
  height: 35px;
}

.footer{
    background-color: #D1C4E9;
    margin:2px auto;
    padding: 20px 0px 20px 0px;
}
address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

Image{
  width:300px;
  height: 300px;
  border: solid 1px rgb(2, 31, 32);
}
.headerbottom{
  margin-top: 10px;
}

.headerbottomnojumbo{
  margin-top: 150px;
}
.copyright{
  text-align: center;
}
/* .jumbotron{
  color: rgb(17, 29, 141);
  text-align: center;
  background-image: url('/insviraat.jpg');
  min-height: 300px;
} */
#jumboContact{
  background-image: url('/Bhramaputa.jpeg');
  background-position: 1000px 200px;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 300px;
  margin-top: 40px;

}
#jumboProduct{
  
  
  min-height: 300px;
  background-image: none;
 
  min-height: 300px;
  margin-top: 40px;

}

#iso{
  color: darkgreen;
}
#abt{
  margin-bottom: 2px;
  width: 400px;
  list-style: none;
  text-align: center;
}
#abtheading{
  text-align: center;
  
  text-decoration: underline;
}

#abtfstrow{
  margin-bottom: 20px;
}
#corleadership{
  text-align: center;
  text-decoration: solid;
}
.mctimg{
  
  width: 350px;
  height: 300px;
  align-items: center;
  border: 1px solid midnightblue;
  padding: 5px;
  margin: 0px;
}
h1{
  color: #0275d8;
}
#one{
  margin-top: 20px;
}
#two{
align-self: center;
line-height: 3rem;
}
#certlogo{
  width: 100px;
  height: 100px;
  margin:5px 5px;
}
#certlogoISO{
  width: 150px;
  height: 100px;
  margin:5px 5px;
}
#jumboabt{
  background-image: url('/1.jpg');
}
#catimgmwts{
  width: 23%;
}
.table{
  margin:20px;
}
h5{
  text-emphasis-style: bold;
  text-decoration: underline;
}
.bunkerbirthlight Col{
  padding: 20px 20px;
}
#marine_heading{
  text-align: center;
  text-emphasis: bold;
  text-decoration: underline;
  border: solid 2px;
  
}
#marine_upper_body{
  margin-bottom: 10px;
 
}
#pdt_main_hdg{
  margin-bottom: 5px;
}
#btn_pdt_details{
  margin-top: 5px;
}
#pdt_img_first{
  
  width:400px;
 
 
}
#pdt_img_sec{
  
  width:500px;
  
}
 

#marine_tbl_one{
  border:0px solid;
}
/* #pdt_img{
  
  width:400px;
  height: 320px;
  margin: 20px;
} */
#marine_tbl_1{
  margin:0px
}
#marine_sec_hdg{
  margin: 5px;

}

.wiresandcable_img Image{
  width: 100%;
  height: 400px;
  border: 2px solid;
}
#wiresandcables_img{
  width:430px;
  height: 400px;
 margin-left: 20px;
   
  border: 2px solid;
 
 
}
#wiresandcables_margin{
  margin-left: 20px;
}
#mct_col{
  text-decoration: underline;
}
#contact_h1{
  margin-bottom: 10px;
  text-transform: uppercase;
  text-emphasis:bold;
}
#flood_lt_fill{
  width:100%;
  height: 410px;
  padding: 10px;
  margin:20px 20px 20px 0px
}

#decorative_lt_fill{
  width:100%;
  height: 580px;
  padding: 10px;
  margin:20px 20px 20px 0px
}
 #insdelhi{
  width: 45%;
  height: 280px;
  padding: 10px;
  margin:20px 20px 20px 20px
}
/* .jumbo_ajmera{
  margin-top:15px;
} */
.jumbo_ajmera button{
  height: 50px;
  border: 4px solid navy;
  padding:4px;
  margin-right: 5px;
  border-radius: 20%;
  background-color: teal;
}
.jumbotron{
  height:200px;
}
